<a href="https://colab.research.google.com/github/dev-sampsonorson/chibuzor/blob/main/assignment-1/Assignment_1_Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Step 1: Correct missing values

**Load data into Google Colab**

In [56]:
import pandas as pd
from tabulate import tabulate

url_csv = 'https://raw.githubusercontent.com/dev-sampsonorson/chibuzor/main/assignment-1/Part2.csv'

df = pd.read_csv(url_csv)

In [67]:
print(tabulate(df, headers="keys", tablefmt="grid"))

+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|    | Gender   | Race             |   Birth_Year | Marital_Status   |   Years_on_Internet |   Hours_Per_Day | Preferred_Browser   | Preferred_Search_Engine   | Preferred_Email   | Read_News   | Online_Shopping   | Online_Gaming   | Facebook   | Twitter   | Other_Social_Network   |
+====+==========+==================+==============+==================+=====================+=================+=====================+===========================+===================+=============+===================+=================+============+===========+========================+
|  0 | M        | White            |         1972 | M                |                   8 |               1 | Firefox             | Google                    | Yahoo             | Y           | N                 | N               | Y          | N         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  1 | M        | Hispanic         |         1981 | S                |                  14 |               2 | Chrome              | Google                    | Hotmail           | Y           | N                 | N               | Y          | N         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  2 | F        | African American |         1977 | S                |                   6 |               2 | Firefox             | Yahoo                     | Yahoo             | Y           | Y                 | nan             | Y          | N         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  3 | F        | White            |         1961 | D                |                   8 |               6 | Firefox             | Google                    | Hotmail           | N           | Y                 | N               | N          | Y         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  4 | M        | White            |         1954 | M                |                   2 |               3 | Internet Explorer   | Bing                      | Hotmail           | Y           | Y                 | N               | Y          | N         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  5 | M        | African American |         1982 | D                |                  15 |               4 | Internet Explorer   | Google                    | Yahoo             | Y           | N                 | Y               | N          | N         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  6 | M        | African American |         1981 | D                |                  11 |               2 | Firefox             | Google                    | Yahoo             | nan         | Y                 | nan             | Y          | Y         | LinkedIn               |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  7 | M        | White            |         1977 | S                |                   3 |               3 | Internet Explorer   | Yahoo                     | Yahoo             | Y           | nan               | nan             | Y          | 99        | LinkedIn               |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  8 | F        | African American |         1969 | M                |                   6 |               2 | Firefox             | Google                    | Gmail             | N           | Y                 | N               | N          | N         | nan                    |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
|  9 | M        | White            |         1987 | S                |                  12 |               1 | Safari              | Yahoo                     | Yahoo             | Y           | nan               | Y               | Y          | N         | MySpace                |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+
| 10 | F        | Hispanic         |         1959 | D                |                  12 |               5 | Chrome              | Google                    | Gmail             | Y           | N                 | N               | Y          | N         | Google+                |
+----+----------+------------------+--------------+------------------+---------------------+-----------------+---------------------+---------------------------+-------------------+-------------+-------------------+-----------------+------------+-----------+------------------------+

**Describe the dataset and provide**

*Number of rows and columns*

In [8]:
print("row, column", df.shape)
print("row", df.shape[0])
print("column", df.shape[1])

row, column (11, 15)
row 11
column 15

*Attribute columns & data types*

In [9]:
df.dtypes

Gender                     object
Race                       object
Birth_Year                  int64
Marital_Status             object
Years_on_Internet           int64
Hours_Per_Day               int64
Preferred_Browser          object
Preferred_Search_Engine    object
Preferred_Email            object
Read_News                  object
Online_Shopping            object
Online_Gaming              object
Facebook                   object
Twitter                    object
Other_Social_Network       object
dtype: object

**Replace the attribute “Online_Gaming“ missing value as "N"**

In [ ]:
df_nan_replaced = df['Online_Gaming'].fillna("N", inplace=False)
print(tabulate(pd.DataFrame(df_nan_replaced), headers="keys", tablefmt="grid"))

### Step 2: Data Reduction

**Remove only those rows with missing values in online_shopping**

In [49]:
online_shopping_nan = df.loc[df['Online_Shopping'].isna(), "Online_Shopping"]
df_nan_rows_removed = df.drop(labels=online_shopping_nan.index, axis=0, inplace=False)

print(len(df_nan_rows_removed['Online_Shopping']))

11
9

### Step 3: Replace Invalid Data:
**Replace 99 with 'N' in 'Twitter'**

In [65]:
df_copy = df.copy()

count_index = 0
for row in df['Twitter']:
  try:
    int(row)
    df_copy.loc[count_index, 'Twitter'] = 'N'
  except ValueError:
    pass
  count_index += 1

print("df:")
print(df['Twitter'], "\n")

print("df copy:")
print(df_copy['Twitter'])

df:
0      N
1      N
2      N
3      Y
4      N
5      N
6      Y
7     99
8      N
9      N
10     N
Name: Twitter, dtype: object

df copy:
0     N
1     N
2     N
3     Y
4     N
5     N
6     Y
7     N
8     N
9     N
10    N
Name: Twitter, dtype: object

### Step 4: Attribute reduction - Reduce the number of attributes by eliminating unused attributes 

**Remove "Other_Social_Network**

In [66]:
df_other_social_network_dropped = df.drop('Other_Social_Network', axis=1, inplace=False)
df_other_social_network_dropped

   Gender              Race  Birth_Year  ... Online_Gaming  Facebook  Twitter
0       M             White        1972  ...             N         Y        N
1       M          Hispanic        1981  ...             N         Y        N
2       F  African American        1977  ...           NaN         Y        N
3       F             White        1961  ...             N         N        Y
4       M             White        1954  ...             N         Y        N
5       M  African American        1982  ...             Y         N        N
6       M  African American        1981  ...           NaN         Y        Y
7       M             White        1977  ...           NaN         Y       99
8       F  African American        1969  ...             N         N        N
9       M             White        1987  ...             Y         Y        N
10      F          Hispanic        1959  ...             N         Y        N

[11 rows x 14 columns]

### Observation and Inferences

- The dataset is small and easy to work with
- The dataset is fairly clean. The red flag is the invalid value of '99' on the Twitter attribute column
- 'Read_News', 'Online_Shopping', and 'Online_Gaming' have empty values which should have be prevented at the data entry stage. If the record owner can choose not to specify 'Y' or 'N', then a third valid value like; 'Prefer not to answer' can be provided.This third possible valid value conveys more meaning than an empty value.